html {
	font-size: 62.5%;
}
body {
	font-size: 14px;
	font-size: 1.4rem;
	font-family: "WorkSans";
	text-transform: capitalize;
	color: #ffffff;
}
h1 {
	font-size: 24px;
	font-size: 2.4rem;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1050px + 30px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
// ---------------timer------------
#clockdiv {
	margin-top: -85px;
	width: 290px;
	height: 144px;
	background: rgba(59, 59, 59, 0.5);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	padding-left: 30px;
	h5 {
		padding-top: 30px;
		font-family: "SpaceMono";
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 110%;
	}
	.minutes {
		padding-left: 15px;
		padding-right: 5px;
	}
	.smalltext-minutes {
		padding-left: 10px;
	}
	.seconds {
		padding-left: 10px;
	}
	.smalltext-seconds {
		padding-left: 10px;
	}
	.smalltext {
		margin-top: 5px;
	}
	.decor {
		vertical-align: text-bottom;
		font-family: "Space Mono";
		font-size: 28px;
	}
	.clock__btn {
		margin-top: 30px;
		text-align: center;
		width: 235px;
		height: 60px;
		background: #a259ff;
		border-radius: 20px;
	}
	.clock__btn-link {
		padding: 19px 80px;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 140%;
	}
}
.clock {
	margin-top: 10px;
	display: flex;
}
#clockdiv > div {
	font-weight: 700;
	font-size: 3.8rem;
	line-height: 120%;
}
.smalltext {
	font-family: "SpaceMono";
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 110%;
}
.days {
	display: none;
}
// ---------------timer------------
// ---------------input-delete-X------------
input[type="text"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="text"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
// ---------------input-delete-X------------
